<div fxLayoutAlign="center center" fxFlexFill class="main-div">
    <mat-card fxFlex="25">
        <mat-toolbar color="primary">Register</mat-toolbar>
        <form #regForm="ngForm" (ngSubmit)="doRegistration(regForm.value)" fxLayoutAlign="stretch" fxLayout="column" class="reg-from">
            <mat-form-field >
              <mat-label>Name</mat-label>
              <input ngModel name="name" matInput placeholder="Enter Your Name" >
            </mat-form-field>
            <mat-form-field >
              <mat-label>User Name</mat-label>
              <input ngModel name="username" matInput placeholder="UserName" >
            </mat-form-field>

            <mat-form-field >
              <mat-label>Password</mat-label>
              <input ngModel name="password" matInput type="password" placeholder="Enter Your Password" >
            </mat-form-field>
            

            <mat-form-field >
                <mat-label>Email</mat-label>
                <input ngModel name="email" matInput placeholder="Enter Your Email" >
              </mat-form-field>
          

              <button mat-raised-button type="submit">Register</button>
          </form>
          
    </mat-card>
</div>